.header {
    max-width: calc(100% - 400px);
    margin: 45px auto 40px;
    border-bottom: 1px solid rgba(54,54,54,0.7);
    padding-bottom: 41px;
}
@media screen and (max-width:767px) {
    .header {
        max-width: calc(100% - 38px);
        margin: 28px auto 42px;
    }
}