.elements {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(282px, 1fr));
    
    margin: 0 auto;
    gap:17px;
}
@media screen and (max-width:767px) {
    .elements {
        max-width: 100%;
        gap: 20px;
    }
}