.popup__close {
    width:48px;
    height: 48px;
    position: absolute;
    top:-48px;
    right: -48px;
    background-color: black;
    background-image: url(../../../images/Close\ Icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}
.popup__close:hover {
    opacity: 0.8;
}